/ {
    aliases {
        sensor-uart = &uart4;
        lm35-adc = &adc1;
        lcd-i2c = &i2c1;
        /* Nucleo'nun kendi hazir butonunu alias olarak bagliyoruz */
        wake-btn = &user_button;
    };
};

&pinctrl {
    uart4_tx_pc10: uart4_tx_pc10 {
        pinmux = <0x82a>;
        bias-pull-up;
    };
    uart4_rx_pc11: uart4_rx_pc11 {
        pinmux = <0x82b>;
    };
};

&uart4 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart4_tx_pc10 &uart4_rx_pc11>;
    pinctrl-names = "default";
};

/* LM35D (PA0 Pini) için ADC1 Yapılandırması */
&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in0_pa0>;
    pinctrl-names = "default";
    st,adc-prescaler = <4>;
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

/* LCD Ekran (PB8/PB9 Pinleri) için I2C1 Yapılandırması */
&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
};
